<ul>
  <li><%= link_to "ユーザーページ", user_path(@user) %></li>
  <li><%= link_to "フォローしているユーザー", followings_user_path(@user) %></li>
  <li><%= link_to "フォローされているユーザー" , followers_user_path(@user) %></li>
</ul>